# Intro to Pandas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
pokedex = pd.read_csv('https://raw.githubusercontent.com/lgreski/pokemonData/master/Pokemon.csv')

In [4]:
pokedex.head()

,ID,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1
3,4,Charmander,,Fire,,309,39,52,43,60,50,65,1
4,5,Charmeleon,,Fire,,405,58,64,58,80,65,80,1

In [5]:
pokedex.tail()

,ID,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
1189,1006,Iron Valiant,,Fairy,Fighting,590,74,130,90,120,60,116,9
1190,1007,Koraidon,,Fighting,Dragon,670,100,135,115,85,100,135,9
1191,1008,Miraidon,,Electric,Dragon,670,100,85,100,135,115,135,9
1192,1009,Walking Wake,,Water,Dragon,590,99,83,91,125,83,109,9
1193,1010,Iron Leaves,,Grass,Psychic,590,90,130,88,70,108,104,9

In [7]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1194 non-null   int64
 1   Name        1194 non-null   object
 2   Form        1194 non-null   object
 3   Type1       1194 non-null   object
 4   Type2       1194 non-null   object
 5   Total       1194 non-null   int64
 6   HP          1194 non-null   int64
 7   Attack      1194 non-null   int64
 8   Defense     1194 non-null   int64
 9   Sp. Atk     1194 non-null   int64
 10  Sp. Def     1194 non-null   int64
 11  Speed       1194 non-null   int64
 12  Generation  1194 non-null   int64
dtypes: int64(9), object(4)
memory usage: 121.4+ KB

In [8]:
pokedex.describe()

,ID,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,492.746231,441.206868,70.887772,80.948911,74.587102,72.876884,72.128141,69.778057,4.989950
std,293.719541,121.015326,26.859651,32.122250,30.678626,32.696051,27.628468,30.195593,2.564161
min,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,235.250000,330.000000,52.000000,56.000000,51.250000,50.000000,50.000000,45.000000,3.000000
50%,486.500000,460.500000,70.000000,80.000000,70.000000,65.000000,70.000000,67.500000,5.000000
75%,741.750000,520.000000,85.000000,100.000000,90.000000,95.000000,90.000000,90.750000,7.000000
max,1010.000000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000,9.000000